body {
    background: var(--black);
}
.header {
    background-color: #171719;
}

.characters {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 20px red;
}

.card img {
    width: 300px;
    border-radius: 5px;
    padding-bottom: 20px;
}

.card p {
    font-size: 25px;
    color: white;
    margin: 0;
}